<button type="button" class="btn btn-success" align="left" (click)="export()"><mat-icon>get_app</mat-icon>Exporter la liste (csv)</button>
<br><br>

<button type="button" class="btn btn-info" align="left" routerLink="/newClient">Créer un client</button><br> <br>
<app-form-search (eventHandle)="filter($event)"></app-form-search>

<table class="table table-striped">
    <thead>

      <tr class="table-danger">
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse mail</th>
        <th scope="col">Ville</th>
        <th scope="col">Adresse</th>
        <th scope="col">Tél</th>
        <th scope="col">Code Postal</th>
        <th scope="col">Fax</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let a of clients" >
      <tr class="table-danger"  *ngIf="search === '' || a.nom.toLowerCase().includes(search) || a.prenom.toLowerCase().includes(search) || a.ville.toLowerCase().includes(search)">
       

        <td>{{a.nom}} </td>
        <td>{{a.prenom}}</td>
        <td >{{a.mail}}</td>
        <td>{{a.ville}}</td>
        <td>{{a.adresse}}</td>
        <td>{{a.tel}}</td>
        <td>{{a.cpostal}}</td>
        <td>{{a.fax}}</td>
        <td><div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Action
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" routerLink='/client/{{a.id}}'>modifier ce client</a></li>
                <li><a class="dropdown-item" (click)="deleteArticle(a.id)">Supprimer ce client</a></li>
              
            </ul>
        </div></td>
    
      </tr>
      
      
    </tbody>
  </table>
