
<button type="button" class="btn btn-success" align="left" (click)="export()"><mat-icon>get_app</mat-icon>Exporter la liste (csv)</button>
<br> <br>

<button type="button" class="btn btn-info" align="left" routerLink="/newArticle">Créer un article</button><br> <br>
<app-form-search (eventHandle)="filter($event)"></app-form-search>

<table class="table table-striped">
    <thead>

      <tr class="table-primary">
        <th scope="col">Image</th>
        <th scope="col">Réference</th>
        <th scope="col">Désignation</th>
        <th scope="col">Famille d'article</th>
        <th scope="col">Code barre</th>
        <th scope="col">Nomenclature</th>
        <th scope="col">Type d'article</th>
        <th scope="col">Unité de gestion</th>
        <th scope="col">Stock</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let a of articles" >
      <tr class="table-primary"  *ngIf="search === '' || a.designation.toLowerCase().includes(search) || a.reference.toLowerCase().includes(search) || a.codeBarre.toLowerCase().includes(search)">
       

        <td>        <img class="card-img-top" src="{{this.articleSer.url+'/image/'+a.id}}" alt="Aucune image" width="100px" height="100px">
        </td>
        <td>{{a.reference}}</td>
        <td >{{a.designation}}</td>
        <td>{{a.f.intitule}}</td>
        <td>{{a.codeBarre}}</td>
        <td>{{a.nomenclature}}</td>
        <td>{{a.typeArticle}}</td>
        <td>{{a.uniteGestion}}</td>
        <td>{{a.stock}}</td>
        <td><div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Action
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" routerLink='/articles/{{a.id}}' >modifier</a></li>
                <li><a class="dropdown-item" (click)="deleteArticle(a.id)">Supprimer</a></li>
                <li><a class="dropdown-item" (click)="openDialog1(a)">Conditionnement</a></li>
                <li><a class="dropdown-item" (click)="openDialog(a)">Qualité</a></li>
                <li><a class="dropdown-item" routerLink="/changerImage/{{a.id}}">Modifier l'image</a></li>
              
            </ul>
        </div></td>
    
      </tr>
      
      
    </tbody>
  </table>
